.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  gap: 20px;
}
form .field {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}
form input {
  /* background-color: #080808; */
  border-radius: 5px;
  border: 1px solid white;
  outline: none;
  width: 100%;
  padding: 10px 20px;
}
form .form-button button {
  background-color: #080808;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  padding: 15px 40px;
  font-size: 1rem;
}
@media (max-width: 700px) {
  form {
    width: 75%;
  }
  form .form-button button {
    padding: 7px 24px;
  }
}
