.header {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.header h1 {
  font-size: 3rem;
}
.header p {
  text-align: center;
}
