footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4em 4em;
  background-color: #080808;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 1em;
}
footer h1 {
  font-size: 2.2rem;
}
footer .links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}
footer .links .link {
  display: flex;
  gap: 20px;
}
footer .social {
  display: flex;
  gap: 20px;
}
footer .social img {
  width: 40px;
}
@media (max-width: 1200px) {
  footer {
    flex-direction: column;
    padding: 1em;
    justify-content: center;
    gap: 20px;
  }
  footer h1 {
    font-size: 1.5rem;
  }
}
@media (max-width: 400px) {
  footer .social img {
    width: 20px;
  }
}
