@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
}
h1,
h2,
h3,
h4,
h5,
h6,
span,
a,
p,
li,
button {
  color: white;
  font-family: "Outfit", sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.heading {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 70px;
}
@media (max-width: 800px) {
  .heading {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 10px;
  }
}
@media (max-width: 800px) {
  html {
    font-size: 0.9rem;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 0.6rem;
  }
}
